@page "/"
@using Microsoft.AspNetCore.Authorization
@using SkillsShowcase.Components.Pages.LayeredPages

<PageTitle>Home</PageTitle>

@attribute [Authorize]

<h1 align="center">Welcome To My Skills Showcase</h1>

<div>
    <BarGraphForHomePage 
        SessionLogsInfo="@SessionLogsInfoForHomePage" 
        DailySessionsDataForBarGraph="@DailySessionsDataForHomePageGraph">
    </BarGraphForHomePage>
</div>

<div>
    <BarGraphSoldVsInprogressHomePage 
        CarPurchaseInfoLogsForBarGraph="@CarPurchaseInfoLogsForHomeBarGraph" 
        SoldCars="@SoldCars" 
        InProcessCars="@InProcessCars">
    </BarGraphSoldVsInprogressHomePage>
</div>